<div class="row justify-content-md-center">
  <h2><b>Log in</b></h2>
</div>
<div class="row justify-content-md-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "form-control",autocomplete: "email" %>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", autocomplete: "current-password"%>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="form-group form-check">
        <%= f.check_box :remember_me , class:"form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>
    <% end %>

    <div class="row justify-content-md-center">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>

</div>



