<div class="row justify-content-md-center">
  <%= form_with(model: restaurant, local: true) do |form| %>
    <% if restaurant.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

        <ul>
          <% restaurant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group row">
      <%= form.label :name, class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :address, class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :address, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :image, class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <% if @restaurant.image.attached? %>
          <br>
          <%= image_tag @restaurant.image, class: "image_show" %>
        <% elsif action_name == 'edit'%>
          Null
        <% end %>
        <%= form.file_field :image %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :description, class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= form.text_field :description, class: "form-control" %>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <%= form.submit action_name =='edit' ? "Update" : "Add",class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
