<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Description</th>
    <th scope="col" colspan="3">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @restaurants.each do |restaurant| %>
    <tr>
      <th scope="row"><%= restaurant.id %></th>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.pescription %></td>
      <td><%= link_to 'Show', restaurant %></td>
      <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>


<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
